@media (prefers-color-scheme: dark) {
  body {
    background: #282c34;
    color: white;
    transition: 0.5s ease-in-out;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ffffff;
    color: black;
    transition: 0.5s ease-in-out;
  }
}
